@using SchedMasterFinalWeb.Models
@model Tuple<List<Group>, List<ClassSession>>


<link rel="stylesheet" type="text/css" href="~/Content/UserSchedule.css">

<table class="schedule-table">
    <thead>
        <tr>
            <th></th>
            <th>Mon</th>
            <th>Tue</th>
            <th>Wed</th>
            <th>Thu</th>
            <th>Fri</th>
        </tr>
    </thead>
    <tbody>
        @for (int hour = 8; hour <= 23; hour++)
        {

            <tr>

                <td>@hour:00</td>
                @foreach (var day in new[] { "Monday", "Tuesday", "Wednesday", "Thursday", "Friday" })
                {
                    // Check if there is a session for this hour and day
                    var sessions = Model.Item2.Where(s => s.StartTime.Hours <= hour && s.EndTime.Hours > hour && s.Day == day).ToList();

                    if (sessions.Any())
                    {
                        var session = sessions.First();
                        int durationInSlots = (int)(session.EndTime - session.StartTime).TotalHours;
                        // Only create the cell if the hour matches the session start time
                        if (session.StartTime.Hours == hour)
                        {
                            <td rowspan="@durationInSlots" class="class-session-container">
                                <p>@session.Group.Course.CourseName </p>
                                <p>@session.GroupId</p>
                                <p>@session.Group.User.FirstName @session.Group.User.LastName</p>
                                @session.StartTime.ToString("hh\\:mm") - @session.EndTime.ToString("hh\\:mm")
                                @Html.ActionLink("Remove", "UnassignGroup", "TeacherDashboard", new { groupId = session.GroupId }, new { @class = "btn btn-enroll" })
                            </td>
                        }
                    }
                    else
                    {
                        // If no session is scheduled for this time slot, create an empty cell
                        <td></td>
                    }
                }
            </tr>
        }
    </tbody>
</table>


@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <script type="text/javascript">
        window.onload = function() {
            var message = '@Html.Raw(HttpUtility.JavaScriptStringEncode(ViewBag.Message))';
            alert(message);
        };
    </script>
}