@model IEnumerable<SchedMasterFinalWeb.Models.Course>

@{
    ViewBag.Title = "Index";
}

<link rel="stylesheet" type="text/css" href="~/Content/AdminStyles/AdminCourse.css">

<h1 class="title">Computer Science Courses</h1>

<div class="courses-container">
    @foreach (var course in Model)
    {
        <div class="course">
            <a href="">
                <h3>@course.CourseName</h3>
                <p>@course.Description</p>
                <p>Hours per week: @course.HoursPerWeek</p>
                @Html.ActionLink("Disenroll", "Delete", new { id = course.CourseCode }, new { @class = "btn btn-disenroll" })
                @Html.ActionLink("Enroll", "Enroll", "StudentDashboard", new { courseId = course.CourseCode }, new { @class = "btn btn-enroll" })
            </a>
        </div>
    }
</div>

<script src="~/Scripts/AdminCourses.js"></script>
 